---
import VideoIframe from "../components/Video.astro";
const { id } = Astro.params;
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
import { Episodes } from "../lib/data";

export function getStaticPaths() {
  return Episodes.map((ep) => ({
    params: {
      id: ep.path,
    },
  }));
}

const episode = Episodes.find((ep) => ep.id === +id);
---

<Layout image={episode?.image} title={episode?.title || "404"}>
  <div
    class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden rounded-lg"
    transition:name=`playlist ${episode?.id} box`
  >
    <PageHeader />

    <VideoIframe
        title={episode?.title}
        src={episode?.videoId}
    />
  </div>
</Layout>

<style>
  .title-clamp {
    font-size: clamp(20px, 6vw, 70px);
    line-height: 1;
  }
</style>
