---
import PageHeader from "../components/PageHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-context"
    style="min-height:300px;--context-color:#134e4a;"
  >
    <PageHeader />
    <div>

    </div>
  </div>
</Layout>
