---
import Icon from "astro-icon";
---

<div class="flex flex-wrap mt-6 gap-4">
  <article itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
    <a
        href="https://www.dongsub.com/2023/11/a-mortals-journey-to-immortality-season-2.html"
        itemprop="url"
        target="_blank"
    >
      <img
          alt="A Mortal’s Journey to Immortality Season 2"
          data-src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgt5_FntcJzMTItINVagMCpIGzsByUNoMImNfrKmRPYORA6tw1YpeSCZBjoX6RaJSw3vu7ugrteOMdqq9qQ-_NGtlW4b3KGnsHe6KXyLguMyeFDOlkeDde8UxiNzYIixefsR6hXP95OjfOQIVnipgyYFT3MfRnfvN0M8BJsg04scBLOyYfsHa-9SL1BIDU/w228-h320/A-Record-of-a-Mortals-Journey-to-Immortality-Season-3-min.png" itemprop="image" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgt5_FntcJzMTItINVagMCpIGzsByUNoMImNfrKmRPYORA6tw1YpeSCZBjoX6RaJSw3vu7ugrteOMdqq9qQ-_NGtlW4b3KGnsHe6KXyLguMyeFDOlkeDde8UxiNzYIixefsR6hXP95OjfOQIVnipgyYFT3MfRnfvN0M8BJsg04scBLOyYfsHa-9SL1BIDU/w228-h320/A-Record-of-a-Mortals-Journey-to-Immortality-Season-3-min.png" original="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
      >
      <span style="background:#c32020">
            <Icon name="mdi:lock-outline" class="h-4 w-4 -ml-0.5 inline-flex" />
            Total Ep 40
          </span>
    </a>
  </article>
  <article itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
    <a
        href="https://www.dongsub.com/2023/03/a-record-of-mortals.html"
        itemprop="url"
        target="_blank"
    >
      <img
          alt="A Record Of Mortal’s Journey To Immortality Remastered Edition"
          data-src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhWcY96NNEDQktJ1wWyF0TEgxR0cV4C7dqtS8NTrLsH5zIYljLeywMVQdBejaYOQ3A4gN4QeQq141JHltsgOhvFPbKXAfDMdDp_XqiYjlGUkIejyQduPX8cPJWZU9RhG7epRd2SXOxqPfIdqo5Qc-SjO0-i9x66dLD8AMdHn644Zg6F-MJ5wWm0cEpI/s320/A%20Record%20Of%20Mortal%E2%80%99s%20Journey%20To%20Immortality%20Remastered%20Edition.png" itemprop="image" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhWcY96NNEDQktJ1wWyF0TEgxR0cV4C7dqtS8NTrLsH5zIYljLeywMVQdBejaYOQ3A4gN4QeQq141JHltsgOhvFPbKXAfDMdDp_XqiYjlGUkIejyQduPX8cPJWZU9RhG7epRd2SXOxqPfIdqo5Qc-SjO0-i9x66dLD8AMdHn644Zg6F-MJ5wWm0cEpI/s320/A%20Record%20Of%20Mortal%E2%80%99s%20Journey%20To%20Immortality%20Remastered%20Edition.png" original="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
      >
      <div style="padding:0">
          <span style="background:#4a00ffed">
            <Icon name="mdi:lock-outline" class="h-4 w-4 -ml-0.5 inline-flex" />
            Total Ep 99
          </span>
      </div>
    </a>
  </article>
</div>
